<DOCTYPE html>
<head>
  <title>frame1</title>
</head>
  <body>
   <center>
   <a href="fruits.html" target="right">Fruits</a><br><br>
   <a href="vegetables.html" target="right">Vegetables</a><br><br>
   <a href="flowers.html" target="right">Flowers</a><br><br>
   <a href="trees.html" target="right">Trees</a><br><br>
   </center>
  </body>
</html>
