<DOCTYPE html>
<head>
  <title>Holi</title>
</head>
<body>
  <h1 style="color:GREEN;" align="center">HOLI</h1><br>
  <center><img src="holi2.jpg" width="1000px" height="700px"</center><br>

  <p><h3>Holi is a popular ancient Indian festival, also known as the "Festival of Love", the "Festival of Colours" and the "Festival of Spring".The festival celebrates the eternal and divine love of Radha Krishna.It also signifies the triumph of good over the evil, as it celebrates the victory of Vishnu as Narasimha Narayana over Hiranyakashipu.It originated and is predominantly celebrated in India and Nepal but has also spread to other regions of Asia and parts of the Western world through the diaspora from the Indian subcontinent.

Holi celebrates the arrival of spring, the end of winter, the blossoming of love and for many, it is a festive day to meet others, play and laugh, forget and forgive, and repair broken relationships. The festival also celebrates the beginning of a good spring harvest season. It lasts for a night and a day, starting on the evening of the Purnima (Full Moon Day) falling in the Hindu calendar month of Phalguna, which falls around the middle of March in the Gregorian calendar. The first evening is known as Holika Dahan (burning of Demon Holika) or Chhoti Holi and the following day as Holi, Rangwali Holi, Dol Purnima, Dhuleti, Dhulandi, Ukuli, Manjal Kuli,Yaosang, Shigmo or Phagwah, Jajiri.</h3></p>
</body>
</html>
